body {
    font-family: Poppins;
}
header{
    display: inline-block;
}
header img {
    padding: 0 ;
    width: 204px;
    height: 62px;
    margin-left: 20px;
    margin-top: 6px;
}
header img:hover{
    box-shadow: ;
}
header ul {
    padding: 0;
    margin-top: 25px;
}
header ul li{
    list-style: none;
    text-decoration: none;
    padding: 0;
}
header ul li a {
    text-decoration: none;
    margin-right:56px;
    height: 17px;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: black;
}
 a:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.detalles-del-producto {
    color: #aeb5bd;
}
main {
    margin-left: 20px;
    margin-top: 10px;
}
main article .col-xl-4 {
    font-family: arial;
    font-size: 50px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal; 
    line-height: normal;
    text-align: center;
    color: #2d2d2d
} 
main article img{
    width: 100%;
    height: 90%;
}
.titulo-capiro{
    margin-top: 10% ;
    padding: 0;
    letter-spacing: 2px;
}
.subtitulo-bodegas {
    font-size: 23px;
    font-weight: 300;
    line-height: 1.65;
    letter-spacing: 20px;
    padding: 0;
    margin-bottom: 10%;
    letter-spacing: 4px;
}
.linea1 {
    color: #52b02e;
    width: 144px;
    border: solid 1px;
}
.ubicacion {
    margin-bottom: 10%;
}
.area{
    margin-bottom: 10%;
}
.valor2 {
    font-size: 20px;
    font-weight: 200;
    font-style: normal;
}
.asesori {
    position: relative;
}
.contenedor-de-asesoria {
    position: absolute;
    top: 95%;
    background-color: #17342e;
    width: 1273px;
    height: 242px;
}
main article p .col-xl-4 {
    
}




